{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Assigner un groupe à {{ user.username }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="group">Sélectionnez un groupe :</label>
        <select name="group" id="group" class="form-control">
            {% for group in groupes %}
            <option value="{{ group.id }}" {% if group in user.groups.all %}selected{% endif %}>
                {{ group.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-success mt-2">Enregistrer</button>
    <a href="{% url 'user_list' %}" class="btn btn-secondary mt-2">Annuler</a>
</form>
{% endblock %}
